body{
  margin: 0;
  height: 100vh;
  display: flex;

  background-image: linear-gradient(aqua,pink);
  justify-content: center;
  align-items: center;
}

img{
    display: block;
    margin: auto;
   width: 350px;
font-size: 100px;
  height: 200px;
}


div{
  display: flex;
  align-items: center;
  gap: 30px;

  
}


.right,.left{
  background-color: rgba(0, 0, 0, 0.744);
  border: none;
  cursor: pointer;
font-size: 55px;
  color: white;
}